* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar, header {
    height: 70px;
}

.ms-bg-header {
    background-color: #212529;
}

.hero, .about {
    background-color: #1abc9c;
}

.hero {
    margin-top: 70px;
}

.box {
    height: 200px;
    background-color: blue;
    border: 2px dashed black;
}

footer {
    background-color: #3a546d;
}